*.spr.enc filter=lfs diff=lfs merge=lfs -text
*.dat.enc filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.spr filter=lfs diff=lfs merge=lfs -text
data/things/**/*.dat.enc filter=lfs diff=lfs merge=lfs -text
data/things/**/*.spr.enc filter=lfs diff=lfs merge=lfs -text
data/things/1098/*.dat.enc filter=lfs diff=lfs merge=lfs -text
data/things/1098/*.spr.enc filter=lfs diff=lfs merge=lfs -text
